<div class="main-content">
    <div class="container-fluid">
  
      <div class="row">
        <div class="col-md-12">
  
          <!--la table -->
  
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Table de parametrage
                <button mat-raised-button class="btn btn-raised  btn-info" style="float:right" data-toggle="modal"
                  data-target="#noticeModal">
                  ajouter de typeFacteur
                </button>
              </h4>
            </div>
            <div class="card-body">
  
              <div class="table-responsive">
  
                <table class="table">
  
                  <thead style="background-color: whitesmoke;">
  
                    <tr>
                      <th class="text-center"><b>Id</b> </th>
                      <th class="text-center"><b>typeFacteur</b></th>
                      <th class="text-center"><b>montantHt</b></th>
                      <th class="text-center"><b>montantTtc</b></th>
                      <th class="text-center"><b>netAPayer</b></th>
                      <th class="text-center"><b>remise</b></th>
                      <th class="text-center"><b>tva</b></th>
                      <th class="text-center"><b>Action</b></th>
                    </tr>
                  </thead>
  
                  <tbody>
                    <tr *ngFor="let param of parametres let parame of params ">
                      <td class="text-center">{{param.id}}</td>
                      <td class="text-center">{{param.libelle}}</td>
                      <td class="text-center">{{param.montantHt}}</td>
                      <td class="text-center">{{param.montantTtc}}</td>
                      <td class="text-center">{{param.netAPayer}}</td>
                      <td class="text-center">{{param.remise}}</td>
                      <td class="text-center">{{param.tva}}</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" class="btn btn-info ">
                          <i class="material-icons" data-toggle="modal" data-target="#myModal"
                            (click)="getParametrebyId(parame)">edit</i>
                        </button>
  
                        <button mat-raised-button type="button" class="btn btn-danger ">
                          <i class="fa fa-trash-o" (click)="showSwal(param)"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <button mat-raised-button class="btn btn-raised  btn-info" style="float:right" (click)="upload()">telecharger</button>
                </table>
  
                <!--modification du parametrage-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Modification du parametrage</h4>
                        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                          <i class="material-icons">clear</i>
                        </button>
                      </div>
                      <div class="modal-body" *ngIf="params">
  
  
                        <form #userForme="ngForm" >
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
  
                                <input matInput type="number" placeholder="numContrat" id="numero" name="numero" 
                                  [(ngModel)]="params.id" disabled>
                              </mat-form-field>
                            </div>
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="typeFacteur" [(ngModel)]="params.libelle"
                                  id="libelle" name="libelle">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="montantHt" [(ngModel)]="params.montantHt"
                                  id="montantHt" name="montantHt">
                              </mat-form-field>
                            </div> 
                          </div>
  
  
  
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="montantTtc" [(ngModel)]="params.montantTtc"
                                  id="montantTtc" name="montantTtc">
                              </mat-form-field>
                            </div>
                          </div>
  
  
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="netAPayer" [(ngModel)]="params.netAPayer"
                                  id="netAPayer" name="netAPayer">
                              </mat-form-field>
                            </div>
                          </div>
  
  
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="remise" [(ngModel)]="params.remise" id="remise"
                                  name="remise">
                              </mat-form-field>
                            </div>
                          </div>
  
  
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="tva" [(ngModel)]="params.tva" id="tva"
                                  name="tva">
                              </mat-form-field>
                            </div>
                          </div>
  
  
  
                        </form>
  
  
                        <div class="modal-footer">
                          <button mat-raised-button type="submit" class="btn btn-fill btn-success" data-dismiss="modal"
                            [disabled]="userForme.invalid" (click)="update()">modifier</button>
                        </div>
  
                      </div>
  
                    </div>
                  </div>
                </div>
  
                <!--end modification-->
              </div>
  
  
            </div>
          </div>
  
  
  
  
        </div>
        <!-- ajout -->
        <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-notice">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Ajout de type facteur?</h5>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="material-icons">close</i>
                </button>
              </div>
              <div class="modal-body">
               <!--ajout de formulaire-->
               <div class="row">
                <div class="col-sm-12 col-sm-offset-2">
                  
                  <form [formGroup]="parametreForm" >
                    <div class="form-group">
                      <label for="libelle">typeFacteur</label>
                      <input type="text" id="libelle"
                             class="form-control" formControlName="libelle">
                    </div>
                    <div class="form-group">
                      <label for="montantHt">montantHt</label>
                      <input type="number" id="montantHt"
                             class="form-control" formControlName="montantHt">
                    </div>
                    <div class="form-group">
                      <label for="montantTtc">montantTtc</label>
                      <input type="number" id="montantTtc"
                                class="form-control" formControlName="montantTtc">
                      
                    </div>
                    <div class="form-group">
                      <label for="netAPayer">netAPayer</label>
                      <input type="number" id="netAPayer"
                                class="form-control" formControlName="netAPayer">
                      
                    </div>
                    <div class="form-group">
                      <label for="remise">remise</label>
                      <input type="number" id="remise"
                                class="form-control" formControlName="remise">
                      
                    </div>
                    <div class="form-group">
                      <label for="tva">tva</label>
                      <input type="number" id="tva"
                                class="form-control" formControlName="tva">
                      
                    </div>
                    
                   
                    
                  </form>
                  <div class="modal-footer">
                    <button mat-raised-button type="submit" class="btn btn-fill btn-success" data-dismiss="modal"
                            [disabled]="parametreForm.invalid" type="submit"(click)="onSubmit()">Enregistrer
                    </button>
                    <button type="button" class="btn btn-danger" (click)="parametreForm.reset({})">effacer</button>
                  </div>
                </div>
              </div>
            
                <!--
                <div class="col-md-12">
                  <form [FormGroup]="parametreForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label for="libelle">libelle</label>
                      <input  type="text" class="form-control" id="libelle"
                        formControlName="libelle">
                    </div>
                    <div class="form-group">
                      <label for="montantHt">montantHt</label>
                      <input type="text" class="form-control" id="montantHt"
                        formControlName="montantHt">
                    </div>
                    <div class="form-group">
                      <label for="montantTtc">montantTtc</label>
                      <input type="number" class="form-control" id="montantTtc"
                        formControlName="montantTtc">
                    </div>
                    <div class="form-group">
                      <label for="netAPayer">netAPayer</label>
                      <input type="number" class="form-control" id="netAPayer"
                        formControlName="netAPayer">
                    </div>
                    <div class="form-group">
                      <label for="remise">remise</label>
                      <input type="number" class="form-control" id="remise" formControlName="remise">
  
                    </div>
                    <div class="form-group">
                      <label for="tva">tva</label>
                      <input type="number" class="form-control" id="tva" formControlName="tva">
                    </div>
                    
                      <button type="submit" class="btn btn-fill btn-success" data-dismiss="modale"
                        [disabled]="parametreForm.invalid">Valider</button>
                    
    
                    <button type="button" class="btn btn-fill btn-success"
                      (click)="parametreForm.resetForm({})">reset</button>
                    
                    
                  </form>
                  
                </div>
               
              -->
                <!--end formulaire-->
  
              </div>
            </div>
          </div>
        </div>
        <!--end ajout-->
  
      </div>
    </div>
  </div>