

        <div class="logo">
          <a class="simple-text logo-mini">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
          </a>
            <a href="https://www.creative-tim.com" class="simple-text logo-normal">
              Creative Tim
            </a>
        </div>


        <div class="sidebar-wrapper">

            <div class="user">
                <div class="photo">
                    <img src="./assets/img/faces/avatar.jpg" />
                </div>
                <div class="user-info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <span>
                            Tania Andrew
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    <span class="sidebar-mini">MP</span>
                                    <span class="sidebar-normal">My Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    <span class="sidebar-mini">EP</span>
                                    <span class="sidebar-normal">Edit Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    <span class="sidebar-mini">S</span>
                                    <span class="sidebar-normal">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngIf="isMobileMenu()">
              <form class="navbar-form">
                <span class="bmd-form-group"><div class="input-group no-border">
                  <input type="text" value="" class="form-control" placeholder="Search...">
                  <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                  </button>
                </div></span>
              </form>
              <ul class="nav navbar-nav nav-mobile-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#pablo">
                    <i class="material-icons">dashboard</i>
                    <p>
                      <span class="d-lg-none d-md-block">Stats</span>
                    </p>
                  </a>
                </li>
                
                
              </ul>
            </div>
            <ul class="nav">
              <li routerLinkActive="active" class="nav-item">
                  <!--If is a single link-->
                  <a [routerLink]="[menuItems[0].path]" *ngIf="menuItems[0].type === 'link'" class="nav-link">
                      <i class="material-icons">{{menuItems[0].icontype}}</i>
                      <p>{{menuItems[0].title}}</p>
                  </a>
                  <!--If it have a submenu-->
      
                  <a data-toggle="collapse" href="#{{menuItems[0].collapse}}" *ngIf="menuItems[0].type === 'sub'"
                      (click)="updatePS()" class="nav-link">
      
                      <i class="material-icons">{{menuItems[0].icontype}}</i>
                      <p>{{menuItems[0].title}}<b class="caret"></b></p>
                  </a>
      
                  <!--Display the submenu items-->
                  <div id="{{menuItems[0].collapse}}" class="collapse" *ngIf="menuItems[0].type === 'sub'">
                      <ul class="nav">
                          <li routerLinkActive="active" *ngFor="let childitem of menuItems[0].children" class="nav-item">
                              <a [routerLink]="[menuItems[0].path, childitem.path]" class="nav-link">
      
                                  <span class="sidebar-mini">{{childitem.ab}}</span>
                                  <span class="sidebar-normal">{{childitem.title}}</span>
      
                              </a>
                          </li>
                      </ul>
                  </div>
              </li>
      
          </ul>
        
            <ul class="nav" *ngIf="isReceveur() ">
                <li routerLinkActive="active" class="nav-item">
                  
                    <a [routerLink]="[menuItems[1].path]" *ngIf="menuItems[1].type === 'link'" class="nav-link">
                        <i class="material-icons">{{menuItems[1].icontype}}</i>
                        <p>{{menuItems[1].title}}</p>
                    </a>
                    
        
                    <a data-toggle="collapse" href="#{{menuItems[1].collapse}}" *ngIf="menuItems[1].type === 'sub'"
                        (click)="updatePS()" class="nav-link">
        
                        <i class="material-icons">{{menuItems[1].icontype}}</i>
                        <p>{{menuItems[1].title}}<b class="caret"></b></p>
                    </a>
        
                    
                    <div id="{{menuItems[1].collapse}}" class="collapse" *ngIf="menuItems[1].type === 'sub'">
                        <ul class="nav">
                            <li routerLinkActive="active" *ngFor="let childitem of menuItems[1].children" class="nav-item">
                                <a [routerLink]="[menuItems[1].path, childitem.path]" class="nav-link">
        
                                    <span class="sidebar-mini">{{childitem.ab}}</span>
                                    <span class="sidebar-normal">{{childitem.title}}</span>
        
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
        
            </ul>
            <!--facteur-->
            
            <ul class="nav" *ngIf="isDcp() || isDrp() || isCCB" >
                <li routerLinkActive="active" class="nav-item">
                  
                    <a [routerLink]="[menuItems[2].path]" *ngIf="menuItems[2].type === 'link'" class="nav-link">
                        <i class="material-icons">{{menuItems[2].icontype}}</i>
                        <p>{{menuItems[2].title}}</p>
                    </a>
                    
        
                    <a data-toggle="collapse" href="#{{menuItems[2].collapse}}" *ngIf="menuItems[2].type === 'sub'"
                        (click)="updatePS()" class="nav-link">
        
                        <i class="material-icons">{{menuItems[2].icontype}}</i>
                        <p>{{menuItems[2].title}}<b class="caret"></b></p>
                    </a>
        
                    
                    <div id="{{menuItems[2].collapse}}" class="collapse" *ngIf="menuItems[2].type === 'sub'">
                        <ul class="nav">
                            <li routerLinkActive="active" *ngFor="let childitem of menuItems[2].children" class="nav-item">
                                <a [routerLink]="[menuItems[2].path, childitem.path]" class="nav-link">
        
                                    <span class="sidebar-mini">{{childitem.ab}}</span>
                                    <span class="sidebar-normal">{{childitem.title}}</span>
        
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </li>
        
            </ul>
            <!--fin facteur-->
            <!--parametre-->
            
            <ul class="nav" *ngIf="isDcp()">
                <li routerLinkActive="active" class="nav-item">
                  
                    <a [routerLink]="[menuItems[3].path]" *ngIf="menuItems[3].type === 'link'" class="nav-link">
                        <i class="material-icons">{{menuItems[3].icontype}}</i>
                        <p>{{menuItems[3].title}}</p>
                    </a>
                    
        
                    <a data-toggle="collapse" href="#{{menuItems[3].collapse}}" *ngIf="menuItems[3].type === 'sub'"
                        (click)="updatePS()" class="nav-link">
        
                        <i class="material-icons">{{menuItems[3].icontype}}</i>
                        <p>{{menuItems[3].title}}<b class="caret"></b></p>
                    </a>
        
                    
                    <div id="{{menuItems[3].collapse}}" class="collapse" *ngIf="menuItems[3].type === 'sub'">
                        <ul class="nav">
                            <li routerLinkActive="active" *ngFor="let childitem of menuItems[3].children" class="nav-item">
                                <a [routerLink]="[menuItems[3].path, childitem.path]" class="nav-link">
        
                                    <span class="sidebar-mini">{{childitem.ab}}</span>
                                    <span class="sidebar-normal">{{childitem.title}}</span>
        
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
        
            </ul>
            <!--fin param-->
            <!--rapport-->
            <ul class="nav" >
                <li routerLinkActive="active" class="nav-item">
                    
                    <a [routerLink]="[menuItems[4].path]" *ngIf="menuItems[4].type === 'link'" class="nav-link">
                        <i class="material-icons">{{menuItems[4].icontype}}</i>
                        <p>{{menuItems[4].title}}</p>
                    </a>
                    
        
                    <a data-toggle="collapse" href="#{{menuItems[4].collapse}}" *ngIf="menuItems[4].type === 'sub'"
                        (click)="updatePS()" class="nav-link">
        
                        <i class="material-icons">{{menuItems[4].icontype}}</i>
                        <p>{{menuItems[4].title}}<b class="caret"></b></p>
                    </a>
        
                    
                    <div id="{{menuItems[4].collapse}}" class="collapse" *ngIf="menuItems[4].type === 'sub'">
                        
                        <ul class="nav" *ngIf="isReceveur()">
                            <li routerLinkActive="active" class="nav-item">
                                <a [routerLink]="[menuItems[4].path, menuItems[4].children[0].path]" class="nav-link">
        
                                    <span class="sidebar-mini">{{menuItems[4].children[0].ab}}</span>
                                    <span class="sidebar-normal">{{menuItems[4].children[0].title}}</span>
        
                                </a>
                            </li>
                        </ul>
        
                      
                       <ul class="nav" *ngIf="isDcp() || isDrp() || isCCB">
                            <li routerLinkActive="active" class="nav-item">
                                <a [routerLink]="[menuItems[4].path, menuItems[4].children[1].path]" class="nav-link">
        
        
                                    <span class="sidebar-mini">{{menuItems[4].children[1].ab}}</span>
                                    <span class="sidebar-normal">{{menuItems[4].children[1].title}}</span>
        
                                </a>
                            </li>
                        </ul>
                       
               
        
                        
                         
                    </div>
                </li>
                </ul>

   </div>             
            <!--fin erapport-->
<!--       
          <ul class="nav">
              <li routerLinkActive="active" class="nav-item">
                
                  <a [routerLink]="[menuItems[1].path]" *ngIf="menuItems[1].type === 'link'" class="nav-link">
                      <i class="material-icons">{{menuItems[1].icontype}}</i>
                      <p>{{menuItems[1].title}}</p>
                  </a>
                  
      
                  <a data-toggle="collapse" href="#{{menuItems[1].collapse}}" *ngIf="menuItems[1].type === 'sub'"
                      (click)="updatePS()" class="nav-link">
      
                      <i class="material-icons">{{menuItems[1].icontype}}</i>
                      <p>{{menuItems[1].title}}<b class="caret"></b></p>
                  </a>
      
                  
                  <div id="{{menuItems[1].collapse}}" class="collapse" *ngIf="menuItems[1].type === 'sub'">
                      <ul class="nav">
                          <li routerLinkActive="active" *ngFor="let childitem of menuItems[1].children" class="nav-item">
                              <a [routerLink]="[menuItems[1].path, childitem.path]" class="nav-link">
      
                                  <span class="sidebar-mini">{{childitem.ab}}</span>
                                  <span class="sidebar-normal">{{childitem.title}}</span>
      
                              </a>
                          </li>
                      </ul>
                  </div>
              </li>
      
          </ul>
      
          
      
          <ul class="nav" >
              <li routerLinkActive="active" class="nav-item">
                  
                  <a [routerLink]="[menuItems[2].path]" *ngIf="menuItems[2].type === 'link'" class="nav-link">
                      <i class="material-icons">{{menuItems[2].icontype}}</i>
                      <p>{{menuItems[2].title}}</p>
                  </a>
                  
      
                  <a data-toggle="collapse" href="#{{menuItems[2].collapse}}" *ngIf="menuItems[2].type === 'sub'"
                      (click)="updatePS()" class="nav-link">
      
                      <i class="material-icons">{{menuItems[2].icontype}}</i>
                      <p>{{menuItems[2].title}}<b class="caret"></b></p>
                  </a>
      
                  
                  <div id="{{menuItems[2].collapse}}" class="collapse" *ngIf="menuItems[2].type === 'sub'">
                      
                      <ul class="nav">
                          <li routerLinkActive="active" class="nav-item">
                              <a [routerLink]="[menuItems[2].path, menuItems[2].children[0].path]" class="nav-link">
      
                                  <span class="sidebar-mini">{{menuItems[2].children[0].ab}}</span>
                                  <span class="sidebar-normal">{{menuItems[2].children[0].title}}</span>
      
                              </a>
                          </li>
                      </ul>
      
                    
                     <ul class="nav" *ngIf="isDcp()">
                          <li routerLinkActive="active" class="nav-item">
                              <a [routerLink]="[menuItems[2].path, menuItems[2].children[1].path]" class="nav-link">
      
      
                                  <span class="sidebar-mini">{{menuItems[2].children[1].ab}}</span>
                                  <span class="sidebar-normal">{{menuItems[2].children[1].title}}</span>
      
                              </a>
                          </li>
                      </ul>
                     
             
      
                      
                       <ul class="nav" *ngIf="isDrp()">
                          <li routerLinkActive="active" class="nav-item">
                             <a [routerLink]="[menuItems[1].path, menuItems[1].children[1].path]" class="nav-link">
      
      
                              <span class="sidebar-mini">{{menuItems[1].children[1].ab}}</span>
                              <span class="sidebar-normal">{{menuItems[1].children[1].title}}</span>
  
                          </a> 

                             <a [routerLink]="[menuItems[2].path, menuItems[2].children[2].path]" class="nav-link">
      
      
                                  <span class="sidebar-mini">{{menuItems[2].children[2].ab}}</span>
                                  <span class="sidebar-normal">{{menuItems[2].children[2].title}}</span>
      
                              </a>
                          </li>
                      </ul>
                  </div>
              </li>
              </ul> 

               
                          
          <ul class="nav">
            <li routerLinkActive="active" class="nav-item">
            
                <a [routerLink]="[menuItems[3].path]" *ngIf="menuItems[3].type === 'link'" class="nav-link">
                    <i class="material-icons">{{menuItems[3].icontype}}</i>
                    <p>{{menuItems[3].title}}</p>
                </a>
        
    
                <a data-toggle="collapse" href="#{{menuItems[3].collapse}}" *ngIf="menuItems[3].type === 'sub'"
                    (click)="updatePS()" class="nav-link">
    
                    <i class="material-icons">{{menuItems[3].icontype}}</i>
                    <p>{{menuItems[3].title}}<b class="caret"></b></p>
                </a>
    
                
                <div id="{{menuItems[3].collapse}}" class="collapse" *ngIf="menuItems[3].type === 'sub'">
                    <ul class="nav">
                        <li routerLinkActive="active" *ngFor="let childitem of menuItems[3].children" class="nav-item">
                            <a [routerLink]="[menuItems[3].path, childitem.path]" class="nav-link">
    
                                <span class="sidebar-mini">{{childitem.ab}}</span>
                                <span class="sidebar-normal">{{childitem.title}}</span>
    
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
    
        </ul>

                      

                        
                
          <ul class="nav">
            <li routerLinkActive="active" class="nav-item">
                
                <a [routerLink]="[menuItems[4].path]" *ngIf="menuItems[4].type === 'link'" class="nav-link">
                    <i class="material-icons">{{menuItems[4].icontype}}</i>
                    <p>{{menuItems[4].title}}</p>
                </a>
    
    
                <a data-toggle="collapse" href="#{{menuItems[4].collapse}}" *ngIf="menuItems[4].type === 'sub'"
                    (click)="updatePS()" class="nav-link">
    
                    <i class="material-icons">{{menuItems[4].icontype}}</i>
                    <p>{{menuItems[4].title}}<b class="caret"></b></p>
                </a>
    
                
                <div id="{{menuItems[4].collapse}}" class="collapse" *ngIf="menuItems[4].type === 'sub'">
                    <ul class="nav">
                        <li routerLinkActive="active" *ngFor="let childitem of menuItems[4].children" class="nav-item">
                            <a [routerLink]="[menuItems[4].path, childitem.path]" class="nav-link">
    
                                <span class="sidebar-mini">{{childitem.ab}}</span>
                                <span class="sidebar-normal">{{childitem.title}}</span>
    
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
    
        </ul>
                

        </div> -->
