<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <br>
                <div class="row">
                  
                    <table class="table">
                      <thead>
                        <th>mois</th>
                        <th>Annee</th>
                        <th>netAPayer</th>
                        
                        <th>totalMontant_Ht</th>
                        <th>totalMontant_ttc</th>
                        <th>totalnetAPayer</th>
                        <th>totalRemise</th>
                        <th>totalTva</th>
                       
                      </thead>
                      <tbody>
                       </tbody> 
                      </table>
                    </div>    
             </div>
         </div>
     </div>
 </div>                   