<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" *ngIf ="!paiement.id" >
          <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">contacts</i>
              </div> 
              <h4 class="card-title">Paiement axiliaires  </h4>
            </div>
            <div class="card-body ">
              <form class="form-horizontal">  
                <div class="row">
                  <label class="col-md-2 col-2 col-form-label">Mois</label>
                  <div class="col-md-4 col-9">
                    <mat-form-field class="example-full-width">
                      <input matInput type="number" id="mois" name="mois" [(ngModel)]="paiement.mois" >
                    </mat-form-field>
                  </div>
                  <label class="col-md-2 col-2 col-form-label">Année</label>
                  <div class="col-md-4 col-9">
                    <mat-form-field class="example-full-width">
                      <input matInput type="number" id="annee" name="annee" [(ngModel)]="paiement.annee" >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  
                  <table class="table">
                    <thead>
                      <th>nom</th>
                      <th>prenom</th>
                      <th>libelle</th>
                      
                      <th>Montant_Ht</th>
                      <th>Montant_ttc</th>
                      <th>netAPayer</th>
                      <th>Remise</th>
                      <th>Tva</th>
                     
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of facteurs ;let i=index">
                    <td>{{item.nom}}</td>
                    <td>{{item.prenom}}</td>
                    <td>{{item.parametreFacteur.libelle}}</td>
                    <td>{{item.parametreFacteur.montantHt}}</td>
                    <td>{{item.parametreFacteur.montantTtc}}</td>
                    <td>{{item.parametreFacteur.netAPayer}}</td>
                    <td>{{item.parametreFacteur.remise}}</td>
                    <td>{{item.parametreFacteur.tva}}</td>
                    <td></td>
                    
                    
                    
                  </tr>
                   
                     <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                     </tr>
                    
                   
                    
                    
                    </tbody>
                    <tfoot>
                      <tr>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                      
                        <td></td>
                      </tr> 
                     </tfoot>  
                  </table>
                </div>
              </form>
              <h6>
                <div class="row">
                  <label class="col-md-4">Nbre Facteurs = <span style="font-weight: normal"> {{paiement.facteurs.length}}</span>  </label>

               
                  <label class="col-md-4">Total TTC = <span style="font-weight: normal"> {{montantTtc}}</span> 
                  </label>

               
                  <label class="col-md-4">TotalmontantHt = <span style="font-weight: normal"> {{montantHt}} </span> </label>

               
               
              </div><br>
              <div class="row">
                <label class="col-md-4">Total net =<span style="font-weight: normal">   {{netApayer}}</span> </label>
                  
                  <label class="col-md-4">TotalTva = <span style="font-weight: normal">   {{tva}}</span> </label>
                  <label class="col-md-4">Totalremise = <span style="font-weight: normal">   {{remise}}</span> </label>

                
                  
                                 
              </div>
            </h6>
            </div>
            <div class="card-footer ">
              <div class="row">
                <div class="col-md-9">
                  <button mat-raised-button type="submit" class="btn btn-fill btn-success"(click)="savePaiement()">Valider</button>
                </div>
              </div>
            </div>
          </div>
        
        
        </div>
        <div class="col-md-12" *ngIf ="paiement.id" >
          <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">contacts</i>
              </div>
              <h4 class="card-title">Paiement axiliaires  </h4>
            </div>
            <div class="card-body ">
              <form class="form-horizontal">
                <div class="row">
                  <label class="col-md-2 col-2 col-form-label">Mois</label>
                  <div class="col-md-4 col-9">
                    <mat-form-field class="example-full-width">
                      <input matInput type="number" id="mois" name="mois" [(ngModel)]="paiement.mois" >
                    </mat-form-field>
                  </div>
                  <label class="col-md-2 col-2 col-form-label">Année</label>
                  <div class="col-md-4 col-9">
                    <mat-form-field class="example-full-width">
                      <input matInput type="number" id="annee" name="annee" [(ngModel)]="paiement.annee" >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  
                  <table class="table">
                    <thead>
                      <th>nom</th>
                      <th>prenom</th>
                      <th>libelle</th>
                      
                      <th>Montant_Ht</th>
                      <th>Montant_ttc</th>
                      <th>netAPayer</th>
                      <th>Remise</th>
                      <th>Tva</th>
                      <th>Signature</th>
                     
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of paiement.paiements ;let i=index">
                    <td>{{item.facteur.nom}}</td>
                    <td>{{item.facteur.prenom}}</td>
                    <td>{{item.facteur.parametreFacteur.libelle}}</td>
                    <td>{{item.facteur.parametreFacteur.montantHt}}</td>
                    <td>{{item.facteur.parametreFacteur.montantTtc}}</td>
                    <td>{{item.facteur.parametreFacteur.netAPayer}}</td>
                    <td>{{item.facteur.parametreFacteur.remise}}</td>    
                    <td>{{item.facteur.parametreFacteur.tva}}</td>
                    
                    <td></td>
                    
                    
                   </tr>
                    
                      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                      </tr>
                      
                    </tbody>
                     
                  </table>
                </div>
              </form>
                <h6>
                    <div class="row">
                      <label class="col-md-4">Nbre Facteurs = <span style="font-weight: normal"> {{paiement.paiements.length}}</span>  </label>

                   
                      <label class="col-md-4">Total TTC = <span style="font-weight: normal"> {{montantTtc}}</span> 
                      </label>

                   
                      <label class="col-md-4">TotalmontantHt = <span style="font-weight: normal"> {{montantHt}} </span> </label>

                   
                   
                  </div><br>
                  <div class="row">
                    <label class="col-md-4">Total net =   {{netApayer}} </label>
                      
                      <label class="col-md-4">TotalTva =   {{tva}} </label>
                      <label class="col-md-4">Totalremise =   {{remise}} </label>

                    
                      
                                     
                  </div>
                </h6>
                   
                  
                    
                   
                   
                    
                   
                
            </div>
            <div class="card-footer ">
              <div class="row">
                <div class="col-md-9">
                  <button mat-raised-button type="submit" class="btn btn-fill btn-success"onclick="window.print()">imprimer</button>
                </div>
              </div>
            </div>
          </div>
        
        
        </div>
      </div>
    </div>
  </div>